// common
.contents-section{
    max-width: 300px;
    padding-top :3.75rem;
    padding-bottom: 2.5rem;
    margin: 0 auto; 
    @include pc{
        max-width: 1000px;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .section__heading{
        text-align: center;
        font-size: 24px;
        margin-bottom: 1.5rem;
        position: relative;
        padding-bottom: 1rem;
        @include pc{
            font-size: 40px;
            margin-bottom: 3rem;
            padding-bottom: 1.5rem;
        }
    }
    .section__heading::after{
        content: url(../img/heading-accent.svg);
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        @include pc{
            content: url(../img/heading-accent-pc.svg);
        }
    }
    .section__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include pc{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .section__list__item{
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 1.5rem;
            @include pc{
                margin: 0 1rem;
            }
        }
        .section__list__item:last-child{
            margin-bottom: 0;
        }
        .section__list__item.radius-shadow{
            background: #fff;
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        }
    }
}


// header
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .header-contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: $top-padding--sp;
        @include pc{
            height: 112px;
            padding: $top-padding--pc;
        }
        .header-contents__logo{
            img{
                height: 36px;
                @include pc{
                    height: 48px;
                }
            }
        }
        .header-contents__menu-btn{
            display: block;
            @include pc{
                display: none;
            }
            img{
                height: 32px;
            }
        }
        .header-contents__nav{
            display: none;
            @include pc{
                display: flex;
            }
            .header-contents__nav__nav-item{
                padding-left: 2rem;
                text-shadow: 0px 3px 6px rgba(0,0,0,0.4);
                a{
                    font-weight: bold;
                    color: #fff;
                }
            }
        }
    }
}

// footer
#footer{
    background: #006B3D;
    text-align: center;
    padding-top : 3.75rem;
    padding-bottom: 2.5rem;
    .footer__logo{
        margin-bottom: 1.5rem;
        img{
            width: 97px;
        }
    }
    .footer__nav{
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-bottom: 1rem;
        @include pc{
            font-size: 12px;
        }
        .footer__nav__item{
            padding: 0 0.5rem;
            border-right: $border;
            a{
                color: #f8f8f8;
            }
        }
        .footer__nav__item:last-child{
            border-right: none;
        }
    }
    .footer__copyright{
        font-size: 8px;
        color: #c1c1c1;
        @include pc{
            font-size: 10px;
        }
    }
}